.todo {
  text-align: center;
  input {
    font-size: 25px;
    width: 69%;
    height: 35px;
    box-sizing: border-box;
    vertical-align: top;
    padding: 5px;
  }
  button {
    font-size: 25px;
    height: 35px;
    vertical-align: top;
  }
}